<html>
<head>
<title>form page</title>
     {% load static %}
<link rel="stylesheet" href="{% static 'css/hfwwg.css' %}" type="text/css" media="all">
</head>
<body>
<h1>{{ title }}</h1>
<form action="{% url 'mingo.views.form_page' %}" method="post">{% csrf_token %}
    <table>
       {{ form.as_table }}
    </table>
    <input type="submit" value="Submit Sighting" style="margin-left: 120px; margin-top: 10px" />
</form>
<p style="margin-left: 10px; color: #cc6600; font-size: large">
<a href="{% url 'mingo.views.contact' %}">{{ links }}
</p>
</body>
</html>